@charset "UTF-8";


html {margin: 0; padding: 0; 
      -ms-user-select: none; 
      -moz-user-select: -moz-none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;}
body {margin: 0; padding: 0;}
ul {list-style: none; padding: 0; margin: 0;}
a {text-decoration: none;}

/*header*/

header {display: flex; flex-wrap: nowrap; align-items:center; justify-content:space-between;}
header img {padding: 20px;}
header .logo {width: 20%; padding: 15px 15%; border-right: 1px solid black;}
header .logo:hover {cursor: pointer;}
header .menubar {width: 20%;}
header .menubar:hover {cursor: pointer;}
header {background-color: #3a0b1e; color: white;}
header ul {display: none;}
header ul li {padding: 0 10px; text-align: center;}
header a {color: #fff; font-family: 'Aeonik-regular',arial,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif; text-transform:uppercase; font-size: 10px;}

/*main*/

/*================*/
main section {margin: 0; padding: 0;}
main section.bg1 {margin: 0; padding: 0; position: relative;}
main section.bg1 .icecc {width: 100%; height:auto; padding: 0; margin: 0; vertical-align: top;}
main .bg1 .nextimg {max-width:6%; position:absolute; right: 5%; top: 50%;}
main .bg1 .nextimg:hover {cursor: pointer;}

/*================*/
main .script1 {background-color: #570f26; color: white; padding: 27px;}
main .script1 h1 {font-family: 'Silk_Serif','Times New Roman', Times, serif; font-size: 48.44px; margin: 0; vertical-align: top;}
main .script1 h3 {font-family: 'Silk_Serif','Times New Roman', Times, serif; font-size: 34.21px; margin: -15px 0;}
main .script1 h3 span {font-family:'Aeonik-medium',arial,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight:lighter;}
main .script1 p {font-family: 'Noto Sans KR'; font-size: 12px; font-weight: 300; margin: 5px 0;}
main .script1 .haagen {font-family: 'Noto Sans KR';font-size: 18px; font-weight: 400; margin: 30px 0 10px 0;}
main .onlineshop {font-family: 'Silk_Serif','Times New Roman', Times, serif; text-transform: uppercase; font-size: 25px;}
main .produc {display: flex; justify-content: space-between; padding-top: 120px;}
main .script1 .onlineshop a {color: white; transition: all 0.4s;}
main .script1 .onlineshop a:hover {opacity: 0.6;}
main .script1 .newproduct p {font-size: 15px;}
main .produc .newproduct {position: relative; width: 150px; transition: all 0.4s;}
main .produc .newproduct:hover {opacity: 0.6; cursor: pointer;}
main .produc .pointer2 {width: 40%; position: absolute; top: 2%; right: 0; transform: rotate(-45deg);}

/*================*/
main section .bg2 {margin: 0; padding: 0; position: relative;}
main .bg2 img {max-width: 100%; height:100%; padding: 0; margin: 0; vertical-align: top;}
main .script2 {background-color: #570f26; color: white;}
main .script2 .haggendaz{font-family:'Aeonik-regular',arial,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 15.56px; padding: 27px 20px; border-bottom: white solid 1px;}
main .script2 h1 {font-family: 'Silk_Serif','Times New Roman', Times, serif; padding: 0; margin: 0;}
main .script2 h1 a {color: white; font-size: 38px;}
main .script2 p {margin: -10px 0;}
main .script2 p a {color: white; font-size: 24px; font-family: 'Noto Sans KR'; font-weight: 100; padding: 0;}
main .script2 img {width: 20%; transform: rotate(90deg)}
main .script2 section {padding: 50px 20px; border-bottom: white solid 1px;}
main .script2 section:last-of-type {border: none; padding: 42.5px;}

main .script2 section.haggenstory {position: relative; transition: all 0.4s;}
main .script2 section.haggenstory img {position:absolute; bottom: 20%; right: 10%; width: 8%; transform: rotate(45deg);}
main .script2 section.haggenstory:hover {background-color: #3a0b1e; cursor: pointer;}

main .script2 section.campagin {position: relative; transition: all 0.4s;}
main .script2 section.campagin img {position:absolute; bottom: 20%; right: 10%; width: 8%; transform: rotate(45deg);}
main .script2 section.campagin:hover {background-color: #3a0b1e; cursor: pointer;}

/*================*/

main .video iframe {max-width: 100%; vertical-align: bottom;}

main section.intro {background-color:#fcf7f3; display: flex; position: relative;}
main section.intro .icecream p, main section.intro .icebar p, main section.intro .icecorn p{margin: 0; font-family: 'Noto Sans KR'; font-weight: 300; font-size: 16.7px; color: #570f26; transition: all 0.4s;}
main section.intro .icecream p:hover, main section.intro .icebar p:hover, main section.intro .icecorn p:hover{cursor: pointer;}
main section.intro h3{margin: 0; font-family: 'Silk_Serif','Times New Roman', Times, serif; color: #570f26; font-size: 21px;text-transform: uppercase; padding-top: 30px; transition: all 0.4s;}
main section.intro h3:hover {font-size: 25px; cursor: pointer;}
main section.intro img {width: 100%; transition: all 0.4s;}
main section.intro .icecream {border-right: #570f26 solid 1px; padding: 150px 25px 50px 25px;}
main section.intro .icebar {padding: 150px 25px 50px 25px;}
main section.intro .icecorn {border-left: #570f26 solid 1px; padding: 150px 25px 50px 25px;}
main section.intro .mrprod {font-family: 'Aeonik-bold',arial,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 14.4px; color: #570f26; text-transform: uppercase; height: 0; position: absolute; top: 7%; left: 5%;}

main section.intro .icecorn {display: none;}

main section.intro .icebar img:hover {opacity: 0.4;}
main section.intro .icecorn img:hover {opacity: 0.4;}
main section.intro .icecream img:hover {opacity: 0.4;}
/*footer*/

footer {background-color: #570f26;}

footer section ul {display: flex; flex-direction: column; justify-content: space-around; align-items: center; text-transform: uppercase; flex-wrap: wrap; padding: 40px;}
footer section ul li {color: white; text-align: center;}
footer section .title { font-family: 'Silk_Serif'; font-size: 30px; text-transform: uppercase;}
footer section ul li a {font-family: 'Aeonik-regular'; font-size: 13px; color: white; transition: all 0.4s;}
footer section ul li a:hover {opacity: 0.4; font-size: 15px;}
footer section p {margin: 0; color: white; text-align: center; border-top: #3a0b1e 1px solid; padding: 30px 0; font-family: 'Aeonik-regular',arial,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 12px;}

footer section:nth-of-type(2) {display: none;}
footer section:nth-of-type(3) {display: none;}

