@charset "utf-8";

/*=====main section=====*/

main {position: relative; /* background-image: url(../images/haagendaz_main.jpeg); background-repeat: no-repeat; background-size: 100%; */}

.nav {float: right; position: relative; width: 240px; height: 25px;}
.contact_me .contact_mail {width: 275px; height: 40px; border: 4px solid #fff; text-align: center; line-height: 40px; font-size: 1.7rem; position: absolute; right: 40%; top: 50%; transition: all 0.3s;}
.contact_me .contact_mail:hover {background-color: #fff; color: #0059ff}

.menu {width: 70px; height: 70px; border-radius: 50%; background-color: #fff; position: fixed; right: 50px; z-index: 399;}
.menu span {background: #0059ff; height: 3px; width: 30px; margin: 23px 0 0 20px; display: block; transition: all 0.3s ease;}
.menu span:nth-of-type(2), .menu span:nth-of-type(3){margin-top: 8px;}
.menu.active {background-color: #0059ff;}
.menu.active .top {transform: translateY(11px) translateX(0) rotate(45deg); background: #fff;}
.menu.active .middle {opacity: 0; background: #fff;}
.menu.active .bottom {transform: translateY(-11px) translateX(0) rotate(-45deg); background: #fff;}

.overlay {position: fixed; background: #000; top: 0; left: 0; width: 100%; height: 0%; opacity: 1; visibility: hidden; overflow: hidden; z-index: 50; transition: opacity 0.35s, visibility 0.35s, height 0.35s;}
.overlay_menu {position: relative; top: 220px; transform: translateY(-50%); font-family: "walfork_heavy"; font-size: 4.5rem; text-align: center; margin: 100px 0;}
.overlay ul {display: inline-block; position: relative; margin-top: 13%;}
.overlay ul li {display: block; position: relative; opacity: 0; padding-top: 20px;}
.overlay ul li:nth-child(6), .overlay ul li:nth-child(7), .overlay ul li:nth-child(8){font-size: 2rem;}
.overlay ul li a {display: block; position: relative; color: #0059ff;}
.overlay ul li a:hover {color: #fff000; transition: all 0.5s;}

.overlay.open {opacity: 1; visibility: visible; height: 100%;}
.overlay.open li {animation: fadeFromTop 1s ease forwards; animation-delay: 0.2s;}
.overlay.open li:nth-of-type(2) {animation-delay: 0.25s;}
.overlay.open li:nth-of-type(3) {animation-delay: 0.3s;}
.overlay.open li:nth-of-type(4) {animation-delay: 0.35s;}
.overlay.open li:nth-of-type(5) {animation-delay: 0.4s;}
.overlay.open li:nth-of-type(6) {animation-delay: 0.45s;}
.overlay.open li:nth-of-type(7) {animation-delay: 0.5s;}
.overlay.open li:nth-of-type(8) {animation-delay: 0.55s;}

@keyframes fadeFromTop {
    0% {
        opacity: 0.6;
        top: 100%;
   }
    100% {
        opacity: 1;
        top: 0%;
   }
}